
body {
    color: white;
    background: black;
    font-size: 14px;
    font-style: bold;
    font-family: Arial;
}

.body {
    color: white;
    height: 100%;
    background-color: black;
    background: black url("../images/math5.jpg") no-repeat fixed center;
    font-size: 14px;
    font-style: bold;
    font-family: Arial;
}

#header {
    background-color: darkslategrey;
    padding: 2px;
}

a, a:visited {
    color: rgb(253, 122, 0);
    font-size: 14px;
    font-family: 'courier new';
    font-style: bold;
    font-weight: 5;
    font-size: 16px;
    text-decoration: solid;
    text-decoration-color: white;
    text-shadow: 1px 1px 1px white;
}

a:hover, a:active {
    color: yellow;
    font-size: 14px;
    font-family: 'courier new';
    font-style: bold;
    font-weight: 5;
    font-size: 16px;
    text-decoration: solid;
    text-decoration-color: white;
    text-shadow: 1px 1px 1px lime;
}

h1 {
    color: yellow;
    font-size: 30px;
    border: 2px solid white;
    border-radius: 20px 20px 20px 20px;
    margin-right: 30%;
    margin-left: 30%;
    padding: 10px;
    text-shadow: 2px 2px 2px orange;
    box-sizing: 2px;
    box-shadow: 2px 2px 2px lime;
}

h3 {
    margin-right: 30%;
    margin-left: 30%;
}

.button {
    background-color: green;
    border: 2px solid white;
    box-sizing: 10px;
    border-style: solid;
    border-radius: 40%;
    color: black;
    font-family: Arial;
    font-style: bold;
    font-size: 16px;
    font-weight: 4;
    text-shadow: 1px 1px 1px white;
    display: inline-block;
    padding: 10px;
    margin: 2px;
    cursor: pointer;
}

.button:hover {
    background-color: black;
    border: 2px solid white;
    box-sizing: 10px;
    border-radius: 40%;
    color: white;
    font-family: Arial;
    font-style: bold;
    font-size: 16px;
    text-shadow: 1px 1px 1px green;
    display: inline-block;
    padding: 10px;
    margin: 2px;
    cursor: pointer;
}

#answer {
    box-sizing: 12px;
    box-shadow: 3px 3px 3px green;
    border-radius: 20px 20px 20px 20px;
    padding: 5px;
}

#submit {
    background-color: green;
    border: 1px solid white;
    box-sizing: 10px;
    border-style: solid;
    border-radius: 30%;
    color: black;
    font-family: Arial;
    font-style: bold;
    font-size: 18px;
    font-weight: 4;
    text-shadow: 1px 1px 1px white;
    display: inline-block;
    padding: 10px;
    margin: 2px;
    cursor: pointer;
}

#name {
    background-color: white;
    border: 2px solid green;
    box-sizing: 10px;
    border-style: dotted;
    border-radius: 10%;
    color: green;
    font-family: courier;
    font-style: bold;
    padding: 5px;
}

#job {
    background-color: white;
    border: 2px solid green;
    box-sizing: 10px;
    border-style: dotted;
    border-radius: 10%;
    color: green;
    font-family: courier;
    font-style: bold;
    padding: 5px;
}

#result {
    color: yellow;
    font-size: 20px;
    font-family: times;
    font-style: bold;
    text-shadow: 2px 2px 2px orange;
}

form {
    text-shadow: 2px 2px 2px green;
    font-size: 18px;
    font-style: bold;
}